.filter-container-two {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.10)
}

.filter-container-two h3 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 15px;
    margin-bottom: 2px;
}

select {
    padding: 5px;
    width: 200px;
}

select option {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.62);
}

select:not(:last-child) {
    margin-bottom: 8px;
}